.ul{
    display: flex;
    margin-left: 28px;  
}
.li{
    display: block;
    color:#ffffff;
    background-color: #D9D9D9;
    padding: 15px 10px ;
    border:2px solid #ffffff;
    margin:10px 50px ;
}
.li_a{
    text-decoration: none;
    color:#000000;
    justify-content: space-around;
}
.KSD{
    height: 140px;
}
.sec1{
    display: flex;
}
.novunu{
    width: 100%;
}
.main_sec{
    width: 17%;
    background-color: #EBEBEB;
    float: left;
}
.main_art{
    margin: 10px;
    padding: 5px;
}
.arc_h1{
    color:#000000;
    font-size: 25px;
    text-decoration: none;
    margin: 10px;
}
.heder_sec2{
    display: flex;
}
.header_arc2{
    padding: 15px 0 0 0;
}
.header_a2{
    color:#727272;
    text-decoration: none;
}
.header_a2:hover{
    color:#3e3e3e;
}
.main_h2_2{
    font-size:30px;
    text-align: center;
}
.header_p2{
    color:#727272;
}
.main_sec{
    width: 17%;
    height: 3300px;
    background-color: #EBEBEB;
    float: left;
}
.main_art{
    margin: 10px;
    padding: 5px;
}
.arc_h1{
    color:#000000;
    font-size: 25px;
    text-decoration: none;
    margin: 10px;
}
.arc_a{
text-decoration: none;
color:#000000;
margin-left: 5px;
}
.main_h1{
    color:#000000;
    text-align: center;
}
.main_1{
    background-color: #ffffff;
    border:2px solid #BD0000;
    color:#BD0000;
    width: 300px;
    padding: 5px;
    float: left;
    height: 40px;
    text-align: center;
}
.p_main{
    margin-left: 20%;
}
.footer_sec{
    display: flex;
    position: absolute;
    bottom:-3000px;
    background-color: #D9D9D9;
    padding: 50px ;
}
.footer_arc1{
    display: block;
    width:470px
}
.footer_arc{
    display: flex;
    width:470px
}
.footer_dom{
    width: 30px;
    margin:0 20px 40 0 ;
}
.footer_ksd{
    text-decoration: none;
    color:#000000;
    font-size: 20px;
    margin: 0 10px 10px 0;
    height: 20px;
}
.footer_compania{
    height:70px;
}
.footer_img{
    width:50px;
    height: 50px;
    margin: 5px;
}
.footer_a{
    text-decoration: none;
    color:#000000;
    font-size: 16px;
    display: block;
    margin-left: 60px;
}